<form #signupForm="ngForm">
  <div class="form-field name">
    <label for="name">UserName</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your full name"
      required
      ngModel
    />
  </div>
  <div class="form-field email">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
      ngModel
    />
  </div>
  <div class="form-field password">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" ngModel />
  </div>
  <button (click)="onFormSubmit()" type="submit" [disabled]="!signupForm.valid">
    Submit
  </button>
  <button (click)="onFormReset()" type="reset">Reset</button>
</form>
