<form class="container card p-3 w-75" #postForm="ngForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title here"
      required
      name="title"
      ngModel
      minlength="5"
    />
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Share what you think</label>
    <textarea
      ngModel
      name="body"
      class="form-control"
      id="body"
      rows="3"
    ></textarea>
  </div>

  <div class="d-grid gap-2">
    <button
      class="btn create-post"
      [disabled]="postForm.invalid"
      type="submit"
      (click)="onSubmit()"
    >
      Create Post
    </button>
  </div>
</form>
