<div>
  <div class="main_content background_gradient">
    <div class="content_item_1">
      <h1>Share Your Thoughts with the World</h1>
    </div>
    <div class="content_item_2">
      <h2>
        A platform for open expression—post your ideas, opinions, and stories.
        Join the community and see what others are thinking.
      </h2>
    </div>
  </div>
  <footer class="footer">
    <!-- <div class="row">
      <div class="col-3 footer_item">
        <h5>About</h5>
        <ul>
          <li>Full Stack Developer</li>
          <li>2 Years of Experience</li>
          <li>Working at ABC</li>
        </ul>
      </div>
      <div class="col-3 footer_item">
        <h5>Technical Skills</h5>
        <ul>
          <li>Full Stack Developer</li>
          <li>2 Years of Experience</li>
          <li>Working at ABC</li>
        </ul>
        <ul>
          <li>Full Stack Developer</li>
          <li>2 Years of Experience</li>
          <li>Working at ABC</li>
        </ul>
      </div>
      <div class="col-3 footer_item">content</div>
      <div class="col-3 footer_item">content</div>
    </div> -->

    <div class="footer_content container">
      <div class="row">
        <div class="col-3 footer_title">About</div>
        <div class="col-5 footer_title">Technical Skills</div>
        <div class="col-4 footer_title">Contact</div>
      </div>
      <div class="row">
        <div class="col-3 footer_details">
          <ul>
            <li>Full Stack Developer</li>
            <li>2 Years of Experience</li>
            <li>Working at ABC</li>
          </ul>
        </div>
        <div class="col-5 footer_details">
          <div class="row">
            <ul class="col">
              <li>HTML</li>
              <li>Responsive CSS</li>
              <li>Bootstrap</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Angular</li>
            </ul>
            <ul class="col">
              <li>OOPS</li>
              <li>Node JS</li>
              <li>Express JS</li>
              <li>Nest JS</li>
              <li>Prisma</li>
              <li>Microsoft SQL</li>
            </ul>
          </div>
          <div></div>
        </div>

        <div class="col-4 footer_details">
          <div class="contact_info row">
            <div class="contact_icon col-2">
              <img src="../../assets/icons/phone-solid.svg" alt="phone" />
            </div>
            <div class="contact_details col-auto">+91 8300622621</div>
          </div>
          <div class="contact_info row">
            <div class="contact_icon col-2">
              <img src="../../assets/icons/envelope-solid.svg" alt="email" />
            </div>
            <div class="contact_details col-auto">
              pagalavanvetri&#64;gmail.com
            </div>
          </div>
          <div class="contact_info row">
            <div class="contact_icon col-2">
              <img
                src="../../assets/icons/linkedin-brands-solid.svg"
                alt="linked-in"
              />
            </div>
            <div class="contact_details col-auto">
              <a
                href="https://www.linkedin.com/in/pagalavan-vetrivendhan07"
                target="_blank"
                rel="noopener noreferrer"
              >
                LinkedIn</a
              >
            </div>
          </div>
          <div class="contact_info row">
            <div class="contact_icon col-2">
              <img
                src="../../assets/icons/github-brands-solid.svg"
                alt="github"
              />
            </div>
            <div class="contact_details col-auto">
              <a
                href="https://github.com/Pagalavan7"
                target="_blank"
                rel="noopener noreferrer"
                >GitHub</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright © 2024 | Postgram, All rights reserved.</p>
    </div>
  </footer>
</div>
